*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img{
    max-width: 10%;
}

header{
    width: 100vw;
    height: 180vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Map_of_Scandinavia.svg/1020px-Map_of_Scandinavia.svg.png");
    background-size: cover;
    background-position: center center;
    /* transition: background-image 2s; */
}

nav{
    display: grid;
    gap: 1rem;
}

h1{
    font-size: 3rem;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    background-color: #000;
    padding: 2rem;
}

header a {
    background-color: #000;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    justify-self: center;
}

.scroll-container{
    width: 100vw;
    min-height: 60vh;
    overflow: hidden; 
    transition: background-image 1s; /* Bygd inn fade-in fade out */
}

h2 .scroll-text{ /* Endre på størrelsen, vil ikke ha alle lik padding. Kun de små*/ 
    padding: 2rem; 
}

.scroll-text{
    /* for å få denne til å scrolles, må må den ha avstand mellom elementene + sette max-widde 50 bokstaver 
    Auto er for sidene. Mens resten er oppe og nede vh */
    margin: 50vh auto; 
    max-width: 40rem; 
    padding: 7rem; 
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8); /* Må finne ut hvordan få hvit boks bak for økt lesbarhet og fjerne de hvite kantene. */ 
}

.scroll-container .scroll-text{
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.scroll-text img {
    display: flex;
    max-width: 400px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#introduction{
    background-image: url("https://dinside.dagbladet.no/images/61574764.jpg?imageId=61574764&panow=100&panoh=65.7&panox=0&panoy=0&heightw=88.7&heighth=98.8&heightx=0&heighty=0&width=1200&height=675");
    background-attachment: fixed; /* Med denne, blir backgrunnsbilde stående */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.text-section{
    min-width: 50rem;
    margin: 0 auto;
    /* Disse to verdiene, block og both. Gjør at ingenting kan være ved siden av.*/
    display: block;
    clear: both;
    font-size: calc(2rem - 2px);
    display: flex;
    flex-direction: column;
}

.text-box{
    margin: 0 auto;
    min-width: 50rem;
    clear: both;
    font-size: calc(2rem - 2px);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 50vh;
    padding: 50vh;
}


#mychart {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  background: rgba(255, 255, 255, 0.8); 
}




@media only screen and (min-width: 400px) {
    body{
        margin: 0;
    }
    #introduction{

    }

    header {
        padding: 0 1rem 0 1rem;
    }

    header nav a {
        padding: 1rem;
        display: flex;
        justify-content: space-around;
    }

    #mychart{
        margin: 0 2rem 0 2rem; 
        
    }
}            