* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
  background-color: #474e5d;  
  font-family: Helvetica, sans-serif;
}

.header {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/ted-johnsson-h2P_QmHvL-Y-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    color: white;
    text-align: center; /**/
    font-family: Arial;
}

.fade-in-text {
    font-size: 150px;
    opacity: 0;
    animation: fadeIn 6s forwards;
}

@keyframes fadeIn {
    0% {opacity: 0; }
    100% {opacity: 1;}
}

header {

}

h1 {
    text-align: center;
    color:whitesmoke;
}

.scroll-container {
    width: 100vw;
    min-height: 60vh;
    overflow: hidden;
    transition: image 1s;
}

.scroll-text {
    margin: 50vh auto;
    max-width: 50rem;
    padding: 1 rem;
    color: whitesmoke;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto; 
    overflow: hidden;
}

.section-video {
    width: 100%; 
    height: auto; 
    object-fit: cover;
}


.most-popular {
    text-align: center;
    margin-top: 50px;
}

.most-popular img {
    max-width: 100%;
    max-height: 100%;
}

#map{
    width: 100%;
    max-width: 50rem;
    height: 40rem;
}

.map-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    padding: 10px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.); 
}
/*Timeline css hjelp fra https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_timeline*/
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: whitesmoke;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: whitesmoke;
    border: 4px solid turquoise;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%; 
}

.left::before {
    content: '' '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    content: '' '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.right::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

@media only screen and (max-width:500px) {
    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    } 

    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after, .right::after {
        left: 15px;
    }

    .right {
        left:0%;
    }
}